<div *ngIf="item">

  <div class="container page-header ">



    <div class="row form-group" >
      <div class="col-md-7 alert news-list">
        <div class="button-diy">
          <a routerLink="/news/edit/{{item.id}}"> <button class="btn btn-success" >Edit</button></a>
          <button class="btn btn-danger" routerLink="/delete">Delete</button>
        </div>
        <h2 class="alert-info">{{item.title}}</h2>
        <p class="lead alert-warning">{{item.text}}</p>
        <div class="alert-danger">{{item.date}}</div>
      </div>
      <div class="col-md-5">
        <img class=" img-responsive center-block"  src="{{item.img_url}}" >
      </div>
    </div>
  </div>
</div>
<app-comment-post></app-comment-post>